.btn{
    width: fit-content;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: green;
    cursor: pointer;
}