* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #c9c7c7;
}

.parent h1 {
  text-align: center;
  color: rgb(38, 33, 33);
  padding: 1.2rem 0;
  text-decoration: underline;
  font-size: 2.5rem;
}

.parent .container {
  padding: 2.5rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  justify-content: center;

}